@import '~leaflet/dist/leaflet.css';

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.App-container {
  height: calc(100vh - 40px); /* 100vh minus padding */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.App-header {
  color: white;
  border-radius: 25px 25px 0 0;
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App-left {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0 0 0 25px;
  grid-area: 2 / 1 / 3 / 2;
}

.App-right {
  border-radius: 0 0 25px 0;
  grid-area: 2 / 2 / 3 / 3;
  overflow: hidden;
}

.filter {
  margin-bottom: 20px;
}

.leaflet-container {
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-bottom.leaflet-right {
  left: 0;
}

/* mobile version */
@media (max-width: 768px) {
  .App-container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 5fr;
  }
  .App-header {
    grid-area: 1 / 1 / 2 / 3;
  }
  .App-left {
    border-radius: 0;
    grid-area: 2 / 1 / 3 / 2;
  }
  .App-right {
    border-radius: 0 0 25px 25px;
    grid-area: 3 / 1 / 4 / 2;
    height: calc(83.33vh - 100px); /* header=80px, margin=20px, App-left=16,67% */
  }
  /* .leaflet-container {
    height: 70vh;
  } */
}