@import '~leaflet/dist/leaflet.css';

.App {
  font-size: 16px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.App-container {
  height: calc(100vh - 40px); /* 100vh minus padding */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 20px;
  overflow: hidden;
}

.App-header {
  color: white;
  border-radius: 25px 25px 0 0;
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.App-left {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 0 0 25px;
  grid-area: 2 / 1 / 3 / 2;
}

.App-right {
  border-radius: 0 0 25px 0;
  grid-area: 2 / 2 / 3 / 3;
  overflow: hidden;
}

.filter {
  margin-bottom: 20px;
}

.filter-title {
  font-size: 1.5em;
}

.filter-select select,
.filter-select button {
  height: 25px;
  margin: 2px 0;
}

.filter-select button {
  margin-left: 5px;
}

.leaflet-container {
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-bottom.leaflet-right {
  left: 0;
  right: auto;
}

.fungus-name span,
.fungus-color span,
.fungus-spots span {
  text-transform: capitalize;
}

.fungus-name {
  font-size: 1.2em;
}

.fungus-name span {
  font-weight: bold;
}


/* mobile version */
@media (max-width: 768px) {
  .App {
    background-image: none !important;
  }
  .App-container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 5fr;
    padding: 0;
    border-radius: 0;
    height: 100vh;
  }
  .App-header {
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 0;
  }
  .App-header img {
    display: none
  }
  .App-left {
    border-radius: 0;
    grid-area: 2 / 1 / 3 / 2;
  }
  .App-right {
    border-radius: 0;
    grid-area: 3 / 1 / 4 / 2;
    height: calc((100vh - 80px)*0.833); /* header=80px, grid 1:5 */
  }
}